table {
    border-collapse: collapse;
    border: 10px solid orange;
}

td {
    width: 50px;
    height: 50px;
}

.black{
    background-color: black;
}

.firstrow{
    background-color: orange;
    width: 20px;
    height: 20px;
    text-align: center;
    font-weight: bold;
}

.firstcol{
    background-color: orange;
    width: 20px;
    height: 20px;
    text-align: right;
    font-weight: bold;
    padding: 5px;
}